<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--4-offset">
  <form ng-submit="singIn()">
    <div class="mdl-textfield mdl-js-textfield">
      <input type='text' class='mdl-textfield__input' name='email' ng-model='user.email'></input>
      <label class='mdl-textfield__label' for='email'>Email</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input type='password' class='mdl-textfield__input' ng-model='user.password'></input>
      <label for='password', class='mdl-textfield__label'>Email</label>
    </div>
    <input type='submit' value='Send', class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'>
  </form>
</div>
